In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

In [2]:
data=pd.read_csv("USA_Housing.csv")
data.head()

,AvgAreaIncome,AvgAreaHouseAge,AvgAreaNumberofRooms,AvgAreaNumberofBedrooms,AreaPopulation,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386

In [9]:
newdf = data.drop("Address", axis='columns')
conv_price=[int(values)for values in newdf.Price]
newdf["Price"]=conv_price
conv_income=[int(values)for values in newdf.AvgAreaIncome]
newdf["AvgAreaIncome"]=conv_income
conv_age=[int(values)for values in newdf.AvgAreaHouseAge]
newdf["AvgAreaHouseAge"]=conv_income
conv_roomno=[int(values)for values in newdf.AvgAreaNumberofRooms]
newdf["AvgAreaNumberofRooms"]=conv_roomno
conv_bedrooms=[int(values)for values in newdf.AvgAreaNumberofBedrooms]
newdf["AvgAreaNumberofBedrooms"]=conv_bedrooms
conv_popul=[int(values)for values in newdf.AreaPopulation]
newdf["AreaPopulation"]=conv_popul

In [10]:
newdf.head()

,AvgAreaIncome,AvgAreaHouseAge,AvgAreaNumberofRooms,AvgAreaNumberofBedrooms,AreaPopulation,Price
0,79545,79545,7,4,23086,1059033
1,79248,79248,6,3,40173,1505890
2,61287,61287,8,5,36882,1058987
3,63345,63345,5,3,34310,1260616
4,59982,59982,7,4,26354,630943

In [11]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   AvgAreaIncome            5000 non-null   int64
 1   AvgAreaHouseAge          5000 non-null   int64
 2   AvgAreaNumberofRooms     5000 non-null   int64
 3   AvgAreaNumberofBedrooms  5000 non-null   int64
 4   AreaPopulation           5000 non-null   int64
 5   Price                    5000 non-null   int64
dtypes: int64(6)
memory usage: 234.5 KB

In [13]:
y=newdf[['Price']].values
x=newdf.drop(['Price'],axis=1).values

In [14]:
print(x)

[[79545 79545     7     4 23086]
 [79248 79248     6     3 40173]
 [61287 61287     8     5 36882]
 ...
 [63390 63390     4     2 33266]
 [68001 68001     7     5 42625]
 [65510 65510     6     4 46501]]

In [15]:
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.40,random_state=101)

In [16]:
x_train

array([[68091, 68091,     7,     3, 44557],
       [75729, 75729,     7,     4, 29996],
       [70885, 70885,     7,     5, 38627],
       ...,
       [55621, 55621,     6,     2, 63184],
       [63044, 63044,     5,     4, 32725],
       [75078, 75078,     8,     4, 56148]], dtype=int64)

In [17]:
LiRe=LinearRegression()
LiRe.fit(x_train,y_train)

LinearRegression()

In [18]:
y_predict=LiRe.predict(x_test)
print(y_predict)
print(y_test)

[[1261880.56266521]
 [1009752.77543909]
 [1612581.32492372]
 ...
 [ 491051.9394036 ]
 [1465490.64177995]
 [1735648.40044523]]
[[1251688]
 [ 873048]
 [1696977]
 ...
 [ 151527]
 [1343824]
 [1906024]]

In [19]:
print('Coefficient of determination: %3f'% r2_score(y_test,y_predict))

Coefficient of determination: 0.682916